*{
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    color: white;
    padding: 4px;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-grow: 1;
}

article, aside {
    min-width: 20vw;
}
footer, header {
    min-height:10vh;
}

nav {
    background-color: pink;
    min-width: 20vw;
    text-align: center;

}
header {
    background-color: khaki;
    text-align: center;
}
article {
    background-color: white;
    flex-grow: 1;
    text-align: center;
}
aside {
    background-color: #03DAC5;
    text-align: center;
}
footer {
    background-color: khaki;
    text-align: center;
}

nav, header, article, aside, footer {
    margin: none;
    padding: none;
}