.container{
    flex-direction: column;
}


.header{
    background-color: rgb(129, 224, 193);
    height: 100px;
    text-align: center;

}
.main{
    background-color: deepskyblue;
    height: 500px;
    display: flex;
}
.footer{
    background-color: rgb(129, 224, 193);
    height: 100px;
    text-align: center;
}
.aside{
    background-color: rgb(34, 178, 130);
    width: 20%;
    text-align: center;
}
.article{
    background-color: rgb(247, 72, 72);
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.bingkai img{
    width: 250px;
    margin: 1em;
}
.bingkai{
    display: flex;
    justify-content: center;
}